<a href="https://colab.research.google.com/github/JangAyeon/Python_Lecture/blob/master/21.01.06%5B%EC%88%98%EC%97%85%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value=[1,2,3,4,5]
for num in value:
  num=num*2
  print(num)
print(value)

#num은 2배씩 증가 되었지만 value 값은 변하지 않음

2
4
6
8
10
[1, 2, 3, 4, 5]

**len**

In [ ]:
list1=[1,2,3,4,5]
len(list1)

5

In [ ]:
str1="Hello, Python"
len(str1)

13

In [ ]:
len(range(0,10))

10

In [ ]:
values=[1,2,3,4,5]

len(values) #5

range(len(values)) #range(5) : 0~4까지 값을 가지는 숫자 리스트 생성 

for i in range(len(values)):
  print("i=",i)
  values[i]*=2
  print("values=",values[i])
print(values)

i= 0
values= 2
i= 1
values= 4
i= 2
values= 6
i= 3
values= 8
i= 4
values= 10
[2, 4, 6, 8, 10]

**병렬리스트**

In [ ]:
sub=['kor','eng','math']
grade=[95,92,100] #교과목과 점수가 서로 대응

for i in range(len(sub)): #하나의 인덱스로 두 리스트에 접근 가능
  print(sub[i],grade[i])

kor 95
eng 92
math 100

**중첩리스트**

In [ ]:
ele=[['li','na','k'],['f','cl']]
for inner in ele:
  print(inner)

['li', 'na', 'k']
['f', 'cl']

In [ ]:
ele=[['li','na','k'],['f','cl']]

for inner in ele:
  for item in inner: 
    print(item)

li
na
k
f
cl

In [ ]:
ele=[['li','na','k'],['f','cl']]

for inner in ele:
  for item in inner: 
    print(item)
  print("\n") #내부의 리스트 구분해서 띄어서 출력하기 

  #중간에 띄어쓰기 2개인 이유 : print로 줄바꿈 한 번 수행하고 \n로 한번 더 수행해서

li
na
k


f
cl

In [ ]:
ele=[['li','na','k',[1,2,3]],['f','cl']]

for inner in ele:
  for in_inner in inner: 
    for item in in_inner:
      print(item)

l
i
n
a
k
1
2
3
f
c
l

In [ ]:
ele=['li','Na','K','F','Cl']
i=0 #리스트 0번째 항목부터 검색

value=input("탐색할 원소를 입력하세요: ") #검색값 입력 받음
while i!=len(ele) and ele[i]!=value: #리스트 끝에 도달하거나 일치하는 요소 찾으면 중단
  i+=1

if i==len(ele): #리스트 끝까지 탐색하고도 원하는 값 찾지 못함 / while 탈출 직전에 i가 한 번 증가 되기 때문에 len()-1 아님
  print("탐색 실패=원소가 존재 하지 않음")
else:
  print("원소 %s는 %d번째에 있다"%(value,i))

탐색할 원소를 입력하세요: li
원소 li는 0번째에 있다

In [ ]:
ele=['li','na','k','f','cl']
value=input("탐색할 원소를 입력하세요:")

for x in range(len(ele)):
  if ele[x]==value:
    print("원소 %s는 %d번째에 있음"%(value,x))
    break

if x==len(ele)-1 and ele[x]!=[value]:
  print("탐색 실패 = 원소가 존재하지 않음")

탐색할 원소를 입력하세요:na
원소 na는 1번째에 있음